DA assignment: Bigmart sales analysis<br>
Name: Chinmayee Taralkar<br>
Rollno: BECOB262<br>

---

## Import all libraries

In [ ]:
import pandas as pd
from sklearn.preprocessing import  LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression

## Import Dataset

In [ ]:
train_data = pd.read_csv('https://raw.githubusercontent.com/shrikant-temburwar/Big-Mart-Sales-Prediction/master/train.csv')
test_data = pd.read_csv('https://raw.githubusercontent.com/shrikant-temburwar/Big-Mart-Sales-Prediction/master/test.csv')

## Study Dataset

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [ ]:
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

## Train data split

In [ ]:
X_train, Y_train = train_data.iloc[:, :-1], train_data.iloc[:, -1]

## Preprocessing

In [ ]:
def pre_processing(X_dataset):
  # A. Imputing Missing Values
  X_dataset['Item_Weight'].fillna((X_dataset['Item_Weight'].mean()), inplace=True)

  # B. Deformed values into Uniform Values
  X_dataset = pd.DataFrame(X_dataset)
  X_dataset.iloc[:, 2] = X_dataset.iloc[:, 2].map({'reg': 'Regular', 'LF': 'Low Fat', 'low fat': 'Low Fat', 'Low Fat': 'Low Fat', 'Regular':'Regular' })
  X_dataset = X_dataset.values

  # Label Encoding for column 2
  label_encoder_1 = LabelEncoder()
  X_dataset[:, 2] = label_encoder_1.fit_transform(X_dataset[:, 2])
  label_encoder_2 = LabelEncoder()
  X_dataset[:, 10] = label_encoder_2.fit_transform(X_dataset[:, 10])
  label_encoder_3 = LabelEncoder()
  X_dataset[:, 9] = label_encoder_3.fit_transform(X_dataset[:, 9])

  # C. Removal of unused Variables
  X_dataset = X_dataset[:, [1, 2, 3, 5, 7, 9, 10]]
  X_dataset = pd.DataFrame(X_dataset)
  return X_dataset

In [ ]:
X_train = pre_processing(X_train)
X_test = pre_processing(test_data)

## Train the model

In [ ]:
linear_regression = LinearRegression()
linear_regression.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Predict the output and append to test data

In [ ]:
y_pred = linear_regression.predict(X_test)
test_data['predicted'] = y_pred

In [ ]:
test_data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type    predicted
0           FDW58    20.750000  ...  Supermarket Type1  1835.461020
1           FDW14     8.300000  ...  Supermarket Type1  1251.067190
2           NCN55    14.600000  ...      Grocery Store  2281.450075
3           FDQ58     7.315000  ...  Supermarket Type1  2289.114034
4           FDY38    12.695633  ...  Supermarket Type3  5110.032113

[5 rows x 12 columns]